.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 980px;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    text-align: center;

    &__title {
        margin-bottom: 20px;
    }

    p {
        line-height: 1.8;
        margin-bottom: 20px;

        &:last-child {
            font-size: 24px;
            font-weight: bold;
        }
    }
}