@use 'variaveis';

.footer {
    padding: 26px 8px;

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__logo {
        width: 100px;
        margin: 0 auto;
    }

    &__links {
        margin-bottom: 16px;

        &__item {
            display: inline-block;

            a {
                text-decoration: none;
                padding: 15px 16px;
                display: block;

                &:hover {
                    color: variaveis.$titleColor;
                }
            }
        }
    }

    p {
        margin-bottom: 16px;
    }
}