@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$bgColor;
    z-index: 1000;

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
    }

    &__links {
        display: flex;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        color: variaveis.$textColor;
        background-color: variaveis.$buttonColor;
        text-transform: uppercase;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        padding: 4px;
        letter-spacing: 1px;
        margin: 5px;

        &:hover {
            background-color: variaveis.$buttonSecondaryColor;
            color: variaveis.$bgColor;
        }
    }
}