@use 'hero';
@use 'variaveis';
@use 'about';
@use 'movies';
@use 'knowledge';
@use 'footer';
@use 'header';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: variaveis.$bgColor;
    font-family: Avenir, sans-serif;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: 1.6;
    color: variaveis.$textColor;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$titleColor;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(14px)
    }
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(24px)
    }
}

.title {
    @include title;
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(20px)
    }
}